body {
  font-family: 'Monda', sans-serif;
  background-color: #F79B13;
}

header{
  top: 500px;
}
.title {
  text-align: center;
  text-decoration: solid;
  font-size: 65px;
  font-weight: 550;
}

#selectCoins, #coinWeightLbl {
  /* position: absolute; */
  /* width: 450px; */
  height: 58px;
  /* left: 246px;
  top: 265px; */
  font-weight: 550;
  font-size: 40px;
  /* line-height: 65px; */
  color: #000000;
}

#selectCoin, #coinWeight{
  width: 150px;
  height: 40px;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: #000000;
  font-weight: bold;
  background: transparent;
}
#logo{
  width: 65px;
}

.logoRight{
  float: right;
  margin-right: 50px;
}

.logoLeft{
  float: left;
  margin-left: 50px;
}